<%= render "layouts/scripts" %>
<%= render "layouts/navbar" %>

<div class="place-edit-bg-container">
  <div id="place-visible--container">
    <div class="place-visible--switch-container">
      <div class="place-visible--switch-element"></div>
    </div>
    <p>Vous êtes actuellement visible</p>
  </div>
</div>
