<div class="places--bloc-infos" style="bottom:-300px">

  <div class="places--bloc-infos--top">
    <div class="info-dist">2 min</div>
    <div id="places--bloc-infos--name" class="info-name">Le Game Over</div>
    <div id="places--bloc-infos--picture" class="info-picture"></div>

  <div class="places--bloc-infos--middle">
    <div class="info-details" id="places--bloc-infos--details-pmr">
      <div class="info-details-icon"></div>
      <div class="infos-details-txt">Accès handicapés</div>
    </div>
    <div class="info-details" id="places--bloc-infos--details-child">
      <div class="info-details-icon"></div>
      <div class="infos-details-txt">Accès enfants</div>
    </div>
    <div class="info-details" id="places--bloc-infos--details-phone">
      <div class="info-details-icon"></div>
      <div class="infos-details-txt">Chargement smartphone</div>
    </div>
    <div class="info-details" id="places--bloc-infos--details-freq">
      <div class="info-details-icon"></div>
      <div class="infos-details-txt">Fréq. actuelle: haute</div>
    </div>
  </div>

  <div class="places--bloc-infos--bottom">

  </div>
</div>
