<div class="navbar-container">
  <div id="navbar-button-open" class="burger-container">
    <div class="burger-element burger-element-1"></div>
    <div class="burger-element burger-element-2"></div>
    <div class="burger-element burger-element-3"></div>
  </div>
  <div id="recenter-icon" class="recenter-icon"><%= image_tag('compass.png') %></div>
</div>

<div class="navbar-items-container" style="top:-1000px">

  <div class="navbar-profile-infos">
    <div class="avatar"></div>
    <div class="naming">
      <p class="name">Thibault Brillet</p>
      <p class="badge"><i class="fas fa-certificate"></i> Petite vessie</p>
    </div>
  </div>

  <div class="navbar-items">
    <div class="navbar-item">
      <i class="fas fa-certificate"></i> Option menu 1
    </div>
    <div class="navbar-item">
      <i class="fas fa-certificate"></i> Option menu 2
    </div>
    <div class="navbar-item">
      <i class="fas fa-certificate"></i> Option menu 3
    </div>
    <div class="navbar-item">
      <i class="fas fa-certificate"></i> Option menu 4
    </div>
  </div>

  <div class="navbar-items-bottom">
    <div class="navbar-setting">
      <i class="fas fa-certificate"></i> Settings
    </div>
    <div class="navbar-logout">
      <i class="fas fa-certificate"></i> Log Out
    </div>
  </div>
</div>
